.gallery-modal-content {
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
}

.gallery-grid {
    flex-grow: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding-top: 1rem;
}

.gallery-buttons {
    display: flex;
    gap: 0.5rem;
}

.gallery-buttons button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s;
}

/*.fab {*/
/*    position: fixed; !* 화면에 고정 *!*/
/*    bottom: 2rem;*/
/*    left: 2rem;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border-radius: 50%;*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*    font-size: 2.5rem; !* 아이콘 크기 *!*/
/*    line-height: 55px; !* 아이콘 수직 중앙 정렬 *!*/
/*    text-align: center;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);*/
/*    z-index: 1000; !* 다른 요소들 위에 보이도록 설정 *!*/
/*    transition: background-color 0.3s, transform 0.2s;*/
/*}*/

/*.fab:hover {*/
/*    background-color: #0056b3;*/
/*    transform: scale(1.05); !* 호버 시 약간 커지는 효과 *!*/
/*}*/
.gallery-thumbnail-wrapper {
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    background: var(--border-gradient);
    padding: 25px;
}

.gallery-thumbnail-wrapper:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.gallery-thumbnail-image {
    width: 130px;
    height: 130px;
    border-radius: 30px;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0.85);
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.gallery-thumbnail-label {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: #333;
}


/* --- 이미지 호버 효과 스타일 --- */
.sortable-image-container {
    position: relative;
    cursor: grab;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.sortable-image-container:active {
    cursor: grabbing;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.sortable-image-container:hover .image-overlay {
    opacity: 1;
}

.image-date {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
}
