/* index.css */

/* 폰트 */
@font-face {
    font-family: 'SeoYoon'; /* 사용할 폰트의 이름을 정의 */
    src: url('./assets/fonts/SeoYoon.ttf'); /* 폰트 파일의 위치 */
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html, body, #root 높이 설정 추가
   이유: 이 설정을 통해 앱 전체가 브라우저 화면 높이를 기준으로 동작하는 '기준점'이 된다
        이것이 없으면 자식 컴포넌트에서 사용하는 height: 100%가 의도대로 작동하지 않아
        내용에 따라 페이지 전체가 늘어나고 썸네일이 밀리는 현상이 발생 */
html, body, #react-root {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fdfdfd;
    color: #222;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

/* 가상 스크롤 구현 시, 브라우저의 기본 스크롤바를 숨긴다.
  스크롤 기능은 GSAP Observer가 담당하므로 UI는 필요 x */
body, html {
    overflow: hidden;
}

/* 일부 레이아웃 컴포넌트가 자체적으로 스크롤바를 생성하는 것을 방지
  모든 스크롤은 window 레벨에서 제어된다 */
.main-content, .main-content-area {
    overflow: hidden !important;
}

