/* --- 대시보드 전체 컨테이너 --- */
.dashboard-container {
    display: flex;
    gap: 24px;
    width: 100%; /* 부모 요소(MainLayout의 Outlet)에 꽉 차도록 설정 */
    padding: 24px;
    background-color: #f4f7fe;
    height: calc(100vh - 60px - 48px);
    box-sizing: border-box; /* 패딩이 크기에 포함되도록 설정 */
}

/* --- 2단 컬럼 공통 스타일 --- */
.dashboard-left-column,
.dashboard-right-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* --- 각 컬럼의 너비 비율 설정 --- */
.dashboard-left-column {
    flex: 8; /* 왼쪽 컬럼 비율 */
}

.dashboard-right-column {
    flex: 5; /* 오른쪽 컬럼 비율 */
}

/* 자식 요소(*는 직계 자식 컴포넌트를 의미)에 margin: auto를 적용하여 flex 아이템의 주변 여백을
  자동으로 계산하게 만들어, 부모의 정중앙에 위치시킨다 */
.weather-box > *,
.fortune-box > * {
    margin: auto;
}

.weather-box {
    flex: 9;
    height: 200px;
}

.fortune-box {
    flex: 11;
    height: 200px;
}

/* 달력을 감싸는 컨테이너 스타일 */
.calendar-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    /* 자식 요소(.calendar)의 높이를 내용물 크기만큼으로 축소시켜 빈 공간을 만들기 때문에 주석 처리 */
    /*align-items: center;*/
}

/* --- 모든 박스의 공통 스타일 --- */
.placeholder-box {
    /* 디자인 */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* 부드러운 그림자 효과 */

    /* 레이아웃 및 여백 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 텍스트 스타일 (플레이스홀더용) */
    color: #aaa;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden; /* 위젯 내부 컨텐츠가 넘칠 경우를 대비 */
}