.timeline-wrapper {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.timeline-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.week-range.clickable {
    cursor: pointer;
    width: 100px;
    height: 24px;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 30px;
    font-family: 'NPSfont', sans-serif;
    font-size: 14px;
}
/* hover 효과 */
.week-range.clickable:hover {
    background-color: #7f9bcc; /* hover 시 살짝 진한 색 */
}

.react-datepicker {
    font-family: inherit;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
}
.week-nav-button{
    background-color: transparent;
    border: none;
}
/* 가로 스크롤 카드 컨테이너 */
.timeline-cards {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding-top: 10px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.timeline-cards::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* 개별 카드 */
.timeline-card {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background-color: #FFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
    flex-shrink: 0;
    transition: all 0.2s ease;
}
.timeline-card:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
/* 날짜 텍스트 */
.timeline-card h4 {
    font-family: 'TmoneyRoundWindExtraBold', sans-serif;
    font-size: 36px;
    margin: 0;
    color: var(--primary-color);
}
/* 선택된 날짜 카드 */
.timeline-card.active {
    background-color: #f0f8ff;
}
.card-icons {
    display: flex;
    justify-content: center;
    gap: 4px;
}

/* 기록 아이콘 스타일 - 원형 (직접 이모지가 아닌 UI로 할 경우 아래 사용 가능) */
.card-icons span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 10px;
}

/* 기록 타입별 색상 */
.card-icons .diary {
    background-color: #ffdb8a;
}
.card-icons .exercise {
    background-color: #ff87ff;
}
.card-icons .sleep {
    background-color: #ff8069;
}
.card-icons .meal {
    background-color: #a7fc73;
}
