/* 에디터 전체를 감싸는 컨테이너 */
.editor-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #dcdcdc;
    border-radius: 30px;
    overflow: hidden; /* 둥근 모서리 밖으로 내용이 나가지 않도록 함 */
    max-height: 400px;
    width: 100%;
}

/* Tiptap 에디터의 콘텐츠 영역 스타일 */
.tiptap-editor-content {
    padding: 1rem;
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left !important;
    outline: none !important;
    overflow-y: auto;
}

.tiptap-editor:focus,
.ProseMirror:focus {
    outline: none;
    box-shadow: none;
}

/* 에디터 내부 이미지 스타일 */
.tiptap-editor-content img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
    object-fit: contain;
}

/* 에디터 Placeholder 텍스트 스타일 */
.tiptap-editor-content p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #bdc3c7;
    pointer-events: none;
    height: 0;
}
