.question-display-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background-color: var(--border-gradient);
    border-radius: 8px;
    flex-grow: 1; /* 가능한 많은 공간 차지 */
    min-width: 250px; /* 최소 너비 */

}

.question-label {
    flex-grow: 1;
    text-align: left;
}
.question-text-in-diary{
    flex: 1;
}
.custom {
    padding-top: 0 !important;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    height: 40px !important;
}

.question-content-wrapper {
    width: 100%;
    gap: 12px;
    position: relative;
}
.btn-refresh-in-diary {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
    flex: 0.1;
}

.btn-refresh-in-diary:hover {
    color: #3b82f6;
    /*transform: rotate(90deg);*/
}