@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root {
  --light-text: #bdc3c7;
  --error-color: #e74c3c;
  --main-bg: rgb(255 255 255 / 0.35);
}

* {
   box-sizing: border-box;
}

/* common setting */

.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

body {
  font-family: var(--font-family-base);
  margin: 0;
  background-image: var(--theme1-gradient);
}
button {
    min-width: 10px;
    min-height: 30px;
    border-radius: var(--border-radius-main);
}


#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

    .header {
        display: flex;justify-content: flex-end;align-items: center;
        min-width: 250px;
        height: 100vh;
        background: transparent;
    }
    .header .sidebar {
        display: flex;flex-direction: column;align-items: center;justify-content:space-between;
        width: 250px;
        height: 88%;
        min-height: 750px;
        padding: 35px 0 20px 0;
    }

    /* .menu-collapse : 사이드 메뉴바 히든 스타일 (js로 toggle 구현) */
    /* .sidebar.menu-collapse {
      width: 95px;
      transition: width 0.4s ease;
    } */

    /* 비로그인 상태 로그인 영역 */
    /* Login Form */

    .header .login-box {
        display: flex;flex-direction: column;align-items: center;gap: 15px;
        font-family: 'Pretendard';
         width: 85%;
         height: 250px;
        box-shadow: var(--shadow-main);
    }
    .header .login-form {
        display: flex;flex-direction: column;gap: 10px;
         width: 100%;
         padding: 15px 25px;
         border: 1px solid rgba(255 255 255 / 0.85);
        border-radius: var(--border-radius-main);
        background-image: var(--theme1-gradient);
    }
    .login-form {
        display: flex;flex-direction: column;align-items: center;gap: 10px;
        width: 100%;
    }

    .login-form input {
        width: 100%;
        height: 34px;
        padding: 2px 7px;
        border: 2x solid #fff;
        border-radius: 8px;
        background: rgb(255 255 255 / 0.25);
        color: var(--primary-color);
        font-size: 14px;
    }

    .login-form input::placeholder {
      color: var(--sidebar-text);
      opacity: 0.85;
    }

    .login-form input:focus {
      outline: none;
      border-width: 2px;
      border-color: var(--primary-color);
    }

    .error-message {
      color: var(--error-color);
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;
    }

    .sidebar-links {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .sidebar-links a {
      display: block;
      text-decoration: none;
      font-size: 13px;
      color: var(--primary-color);
      transition: color 0.3s;
    }

    .sidebar-links a:hover { opacity: 0.75; text-decoration: underline; }

    .login-box .login-btn {
        width: 100%;
        font-size: 1rem;
        border: 2px solid var(--primary-color);
        background: var(--primary-color);
        color: var(--sidebar-text);
    }
    .login-box .login-btn:hover {
        border: 2px solid #fff;
        background: #fcd2d3;
    }

    .login-box .register-btn {
        width: 100%;
        background: rgb(255 255 255 / 0.25);
        border: 2px solid var(--primary-color);
        font-size: 1rem;
        font-weight: bold;
        color: var(--primary-color);
    }
    .login-box .register-btn:hover {
        background-image: var(--theme1-gradient);
        border: 2px solid #fff;
    }


    /* 로그인 상태 사용자 정보 영역 */

    .profile-box {
      display: flex; flex-direction: column;align-items: center;gap: 16px;
      font-family: 'Pretendard';
    }

        /* 프로필 이미지 */
    .profile-image {
        display: flex; justify-content: center;align-items: center;

       width: 138px;
       height: 138px;
       border-radius: 50%;
       border: 2px solid rgb(255 255 255);
       background: rgb(255 255 255 / 0.25);
       box-shadow: var(--shadow-main);
       overflow: hidden
    }
    .user-image {
       object-fit: cover;
    }

    .user-image .default-image {
        width: 80%; height: auto;
    }

        /* 프로필 정보 */

    .user-info-box .user-info {
      display: flex; flex-direction: column; align-items: center;
      font-size: 18px;
      color: var(--sidebar-text);
      padding-right: 15px;
    }
    .user-info .user-nickname { font-weight: bold; }
    .user-info .user-nickname:hover { font-size: 20px; }
    .user-info .user-email { font-size: 14px }
    .user-info .user-email:hover { opacity: 0.7; text-decoration: underline; }

        /* 로그아웃 설정 */
    .logout-box {
        display: flex;justify-content: center;
        width: 100%;
        height: auto;
        padding-right: 15px;
        overflow: auto;
    }
    .logout-box .logout-btn {
        display: flex;justify-content: center;gap: 15px;
        color: var(--sidebar-text);
        opacity: 0.6;
    }
    .logout-box span {
        font-size: 18px;
    }
    .logout-box .logout-btn:hover {
        opacity: 1;
        background: transparent;
    }

    /* 사이드 gnb 메뉴 */

    .header .gnb { width: 100%;padding-right: 15px; }
    .header .gnb>ul {
        display: flex;flex-direction: column;gap: 20px;
        width: 100%;
    }
    .header .gnb li {
        width: 100%;
        height: 35px;
    }
    .header .gnb .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        font-weight: regular;
        color: var(--sidebar-text);
        transition: font-size 0.1s ease;
        cursor: pointer;
    }
    .header .gnb .menu:hover {
      font-size: 24px;
      text-shadow: var(--shadow-only);
      transition: font-size 0.1s ease;
    }
    .header .gnb .menu.selected {
        position: relative;
        gap: 10px;
        color: var(--primary-color);
        font-size: 24px;
        font-weight: bold;
    }
    .header .gnb .menu.selected:hover {
        text-shadow: none;
    }
    .header .gnb .menu.selected::after {
        content: '';
        position: absolute;
        right: -18px;
        width: 5px;
        height: 30px;
        border-radius: 5px;
        background: var(--primary-color);
        z-index: 999;
    }
    .header .menu>svg {
        width: 24px;
        height: 24px;
        stroke: var(--sidebar-text);
        stroke-width: 1.5px;
    }
    .header .menu.selected>svg {
        width: 32px;
        height: 32px;
        stroke: var(--primary-color);
        stroke-width: 2px;
    }
    .header .menu.selected>span {
        font-size: inherit;
        color: inherit;
    }

    .header .logout-box {
    }


    .header .user-info-box {
        display: flex; flex-direction: column; align-items: center;
        width: 90%;
        height: 200px;

    }


    /* h1 로고 */
    .logo { padding-right: 15px; }
    .logo a {
        display: block;
        width: 50px; height: 50px;
        background : url(../images/logo1.png) center /contain no-repeat;
    }



    /* 메인 컨텐츠 - react 영역 */
    main {
        display: flex;justify-content: flex-start;align-items: center;
        height: 100vh;
        overflow: hidden;
        transition: margin-left 0.4s ease;
    }

    /* .menu-collapse : 사이드 메뉴바 히든일 경우 (js로 toggle 구현) */
    /* main.menu-collapse {
      margin-left: 100px;
      margin-right: 70px;
      transition: margin 0.4s ease;
    } */

    #react-root {
        position: relative;
        width: 80%;
        min-width: 800px;
        height: 88%;
        min-height: 750px;

        border-radius: var(--border-radius-main);
        /* padding: 50px 25px; */
        background-color: var(--main-bg);
        box-shadow: var(--shadow-only);
        border: 1px solid rgba(255 255 255 /0.85);
        z-index: 10;
        isolation: isolate;
        overflow: hidden;
        transition: width 0.4s ease;
        pointer-events: auto;
    }
    #react-root::before {
        content: '';
        position: absolute; top: 0; left: 0; bottom: 0; right: 0;
        border-radius: var(--border-radius-main);
        padding: 5px 3px;
        background: var(--border-gradient); /* border 그라디언트 */
        -webkit-mask:
              linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        pointer-events: none;
    }
    #react-root::after {
        content: '';
        position: absolute; top: 0; left: 0; bottom: 0; right: 0;
        display: block;
        border-radius: var(--border-radius-main);
        /* opacity: 0.35; */
        box-shadow: -2px -2px 0 #fff, 2px 2px 0 #fff;
        mix-blend-mode: hard-light;
        z-index: 0;
        pointer-events: none;
    }

    /* #react-root.menu-collapse {
         width: 100%;
         transition: width 0.4s ease;
    }
    */
}