.journal-editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 30px;
}

.editor-title {
    font-size: 22px;
    font-weight: 700;
    height: calc(32 / 710 * 100%);
    margin-top: 14px;
    margin-bottom: 14px;
    flex-shrink: 0;
}

/* 로딩/에러 메시지 스타일 */
.status-message {
    text-align: center;
    padding: 50px;
    color: #888;
    font-size: 16px;
    margin: auto;
}
