/* src/components/shared/UI/CalendarCustom.css */

.calendar-year {
  font-size: 1.5em; /* 년도 크기 */
  color: #333;     /* 년도 색상 */
  margin-right: 5px; /* 년도와 월 사이 간격 */
}

.calendar-month {
  font-size: 2em; /* 월 크기 */
  color: #399bf1; /* 월 색상 */
  font-weight: bold;
}

/* react-big-calendar 기본 툴바 스타일을 덮어쓸 수도 있어 */
.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.rbc-toolbar-label {
  flex-grow: 1; /* 가운데 정렬을 위해 */
  text-align: center;
}

/* 이벤트 내용 텍스트 중앙 정렬 및 숨김 처리 */
.rbc-event-content {
  text-align: center;
  width: 100%; /* 내용도 100% 너비 사용 */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !Important;
  visibility: hidden; /* 제목 텍스트 숨기기 */
}

/* 직접 만드는 툴팁 스타일 */
.custom-tooltip {
  position: fixed; /* 화면 기준으로 위치 고정 */
  background-color: rgba(0, 0, 0, 0.8); /* 반투명 검정 배경 */
  color: white; /* 흰색 글씨 */
  padding: 8px 12px; /* 내부 여백 */
  border-radius: 6px; /* 둥근 모서리 */
  font-size: 14px; /* 폰트 크기 */
  z-index: 1001; /* 다른 요소들 위에 보이도록 설정 */
  pointer-events: none; /* 툴팁이 마우스 이벤트를 방해하지 않도록 설정 */
  white-space: nowrap; /* 툴팁 내용이 한 줄로 표시되도록 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  transition: opacity 0.2s; /* 부드러운 전환 효과 (필요 시) */
}
