/* MonthlyLayout.jsx */
    .monthly-container {
        height: 100%;
    }

/* MonthlyPage.jsx */
    .monthly-page {
        display: flex;justify-content: center;align-items: center;gap: 5%;
        width: 100%;
        min-height: 700px;
        height: auto;
    }

    /*.monthly-page  < Calendar> {*/
    /*    border: 3px dotted cyan;*/
    /*}*/


    /* CalendarHead.jsx */

    .current-month-text {
        display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 0.25rem;
    }
    .current-month-text {cursor: pointer;}
    .current-month-text:hover {opacity: 0.7;font-size: 15px;}

    .head-btn {
        display: flex;justify-content: center;align-items: center;
        width: 30px;height: 30px;
        background: none;
    }
    .head-btn>.button-icon { color: var(--primary-color); }
    .head-btn>.button-icon:hover {opacity: 0.7; }



/*.monthly-page  .diagnosis-container */

    .diagnosis-container {
        display: flex;flex-direction: column;
        justify-content: center;align-items: center;gap: 22px;
        width: 330px;
        height: 550px;
        /*border: 3px dotted cyan;*/
        border-radius: 30px;
        background: var(--main-bg);
        box-shadow: var(--shadow-only);
    }
    .diagnosis-container h3 {
        transform: translateY(-5px);
    }
    .diagnosis-container .test-box {
        display: flex;justify-content: center;align-items: center;gap: 1rem;
        width: 225px;
        height: 100px;
        padding: 15px;
        border-radius: var(--border-radius-main);
        background: rgb(255 255 255 / 0.85);
        font-size: 12px;
        box-shadow: var(--shadow-only);
    }
    .diagnosis-container .test-box.result {
        display: flex;flex-direction: column;gap: 7px;
    }
    .diagnosis-container .test-box.result .last-result {
        display: flex;flex-direction: column;gap: 5px;
    }
    .diagnosis-container .test-label {
        display: flex;flex-direction: column;justify-content: center;align-items: center;gap: .3rem;
    }
    .diagnosis-container #test-btn {
        display: flex;justify-content: center;align-items: center;
        width: 64px;height: 64px;
        border-radius: 25px;
        background-img: var(--theme1-gradient) !important;
    }
    strong { font-weight: bold; }

/* Calendar.jsx*/

    .monthly-calendar .calendar-wrapper {}
    .monthly-calendar .calendar-head {}
    .monthly-calendar .calendar-grid {}
