/*.organizingBox {*/
/*    display: flex;*/
/*    min-width: 150px;*/
/*    Width: auto;*/
/*    min-height: 50px;*/
/*    max-height: 500px;*/
/*    margin-left: 10rem;*/
/*    border: 3px dotted violet;*/
/*}*/

.settings-page {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 80px;
    margin-top: 35px;
}

.setting-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 2;
    gap: 25px;
    width: 320px;
    height: 710px;
}

.box-A {
    width: 650px;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #fff;
}
.setting-bottom {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    width: 650px;
}
.box-D {
    display: flex;
    min-width: 150px;
    min-height: 50px;
    max-height: 500px;
}
.setting-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 320px;
}

.box-B {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
}
.box-B h2 {
    font-size: 16px;
}
.box-B p {
    font-size: 12px;
    font-family: 'Pretendard', sans-serif;
}
.box-C {
    height:255px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.team-info {
    display: flex;
    /*grid-template-columns: repeat(2, 115px);*/
    /*grid-template-rows: repeat(3, 43px);*/
    gap: 5px;
    flex-direction: column;
}
.team-info-wrapper {
    display: flex;
    gap: 5px;
    border-radius: 25px;
    flex-direction: row;
}
.member-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 10px;
}
.box-E {
    display: flex;
    min-width: 150px;
    width: 350px;
    min-height: 50px;
    height: 710px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 50px 10px;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.box-E h2{
    font-family: 'NPSfont', sans-serif;
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: 15px;
}

.set-list{
    display: flex;
    gap: 30px;
    padding: 10px 0;
    flex-direction: column;
    margin-top: 30px;
}

.open-password-modal{
    width:300px;
    height:60px;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    border-radius: 30px;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.open-password-modal .button{
    margin-left: 15px;
}