.organizingBox {
    display: flex;
    min-width: 150px;
    Width: auto;
    min-height: 50px;
    max-height: 500px;
    margin-left: 10rem;
    border: 3px dotted violet;
}

.settings-page {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    position: relative;
    gap: 25px;
}

.setting-left {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 100px;
    gap: 25px;
}

.box-A {
    display: flex;
    max-width: 150px;
    max-height: 500px;
    border: 3px dotted violet;
}
.setting-bottom {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
}
.box-D {
    display: flex;
    min-width: 150px;
    min-height: 50px;
    max-height: 500px;
}
.setting-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box-B {
    display: flex;
    min-width: 150px;
    min-height: 50px;
    max-height: 500px;
}

.team-info {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}
.box-E {
    display: flex;
    min-width: 150px;
    width: 350px;
    min-height: 50px;
    height: 710px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 50px 10px;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.box-E h2{
    font-family: 'NPSfont', sans-serif;
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: 15px;
}

.set-list{
    display: flex;
    gap: 30px;
    padding: 10px 0;
    flex-direction: column;
    margin-top: 30px;
}

.open-password-modal{
    width:230px;
    height:60px;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    border-radius: 30px;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
}

.open-password-modal .button{
    margin-left: 15px;
}